body {
  background: #e4e4e469;
}

.game-pages {
  display: flex;
  justify-content: space-between;
}

.side-panel {
  width: 20%;
  height: 100%;
  margin-right: 10px;
  margin: 10px;
}

.map {
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 3px solid black;
  margin: 0;
}

path {
  fill: #6b685a30;
  stroke: #807f7c;
  transition: fill 0.3s;
  word-wrap: break-word;
}

.steps {
  height: 55%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.military-count {
  height: 30%;
  width: 88.5%;
  text-align: center;
  margin: 15px;
}

line {
  stroke: black;
  stroke-width: 1;
}

.territory-name {
  font-size: 8px;
  fill: #2d2b2b;
  text-anchor: middle;
}

.military-unit {
  font-size: 10px;
  text-anchor: middle;
  width: 20px;
  height: 20px;
}

.circle {
  r: 10px;
  fill: white;
}

.table {
  position: absolute;
  left: 62.5%;
  top: 78%;
  width: 12%;
  font-size: 16px;
}

.turn {
  font-size: 30px;
  position: absolute;
  left: 60%;
  top: 0%;
  color: black;
}

.text-box {
  max-height: 32px;
  max-width: 32px;
  font-size: 30px;
  background: #f2f2f2;
}

.fortify-section {
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.highlight {
  background: black;
  color: white;
}

.input-number {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 35px;
  margin-left: 30px;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  line-height: 1.8;
  font-size: 20px;
  margin-bottom: 10px;
}

.minus {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  background: white;
}

.number {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  background: white;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

.plus {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  background: white;

  font-weight: bold;
}

.place-btn {
  cursor: pointer;
  background: white;
}

.card {
  width: 75px;
  height: 100px;
  line-height: 6;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 10px #aaaaaa;
  text-align: center;
  background: #f2f2f2;
}

.players {
  position: fixed;
  top: 25%;
  left: 3%;
  display: flex;
  flex-direction: column;
}
.player {
  line-height: 2;
  margin-bottom: 5px;
}
.player-detail {
  position: fixed;
  left: 2%;
  top: 55%;
  width: 22%;
  height: 40%;
  border: 1px solid black;
  text-align: center;
}
.cards {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 55px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 4;
  border: 1px solid black;
}
.golden-horse {
  width: 120px;
  height: 120px;
  position: fixed;
  right: 10%;
  top: 48%;
}
.bonus {
  position: fixed;
  right: 13.5%;
  top: 52.5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 2;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.continent-detail {
  background: rgb(250, 198, 198);
}
.phases {
  width: 280px;
  height: 45px;
  border: 1px solid black;
  position: fixed;
  bottom: 0%;
  left: 33%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.player-color {
  height: 100px;
  width: 100px;
}
.place-military {
  position: fixed;
  left: 37%;
  bottom: 18%;
}
#currentPhase {
  position: fixed;
  left: 38%;
  bottom: 7%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}
#currentPhase:focus {
  outline: none;
}
