.game-pages {
  display: flex;
  justify-content: space-between;
}

.side-panel {
  width: 20%;
  height: 100%;
  margin-right: 10px;
  margin: 10px;
}

.map {
  width: 80%;
  height: 100%;
  margin: 10px;
}

path {
  fill: #f2f2f2;
  stroke: #dece0c;
  transition: fill 0.3s;
  word-wrap: break-word;
}

path:hover {
  fill: #4169e1;
}

.steps {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instruction {
  height: 30%;
  text-align: center;
  margin: 15px;
  border: 1px solid black;
}

.military-count {
  height: 30%;
  width:88.5%;
  text-align: center;
  margin: 15px;
  border: 1px solid black;
}

.continent-detail {
  text-align: center;
  border: 1px solid black;
  width: 7%;
}

line {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 1, 1;
}

.territory-name {
  font-size: 8px;
  fill: brown;
  text-anchor: middle;
}

.military-unit {
  font-size: 8px;
  text-anchor: middle;
}

.circle {
  r: 8px;
  fill: white;
}

.table {
  position: absolute;
  left: 21%;
  top: 75%;
  width: 14%;
  border-collapse: collapse;
}

.turn {
  font-size: 30px;
  position: absolute;
  left: 60%;
  top: 0%;
  color: black;
}

.text-box {
  max-height: 32px;
  max-width: 32px;
  font-size: 30px;
  background: #f2f2f2;
}

.fortify-section {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.highlight {
  background: black;
  color: white;
}

.input-number {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 35px;
  margin-left: 30px;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  line-height: 1.8;
  font-size: 20px;
  margin-bottom:10px;

}

.minus {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}

.number {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

.plus {
  float: left;
  text-align: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}

.place-btn {
  cursor: pointer;
}