.popup-box {
  display: none;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.popup-content {
  display: flex;
  flex-direction: column;
  background-color: #edd79f;
  margin: 0 auto;
  border-radius: 10px;
  width: 55%;
  height: 40%;
  box-shadow: 0px 0px 18px 2px #e4c361;
}

.count-down {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  background: white;
  width: 50%;
  position: absolute;
  top: 100px;
}

.inline {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.activity-log-inline {
  width: 90%;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
}

.dice {
  display: flex;
  height: 100%;
}

.attacker-dice .defender-dice {
  width: 50%;
  margin: 10px;
}

.diceImage {
  width: 100px;
}

.updatedDice {
  width: 50px;
}

.close {
  color: black;
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.popup-box #activityLog {
  margin-bottom: 20px;
  margin-left: 10px;
  word-spacing: 4px;
  overflow: scroll;
}

.popup-content #close-activity-log {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 10px;
  text-align: right;
  cursor: pointer;
}

#close-win-popup,
#close-elimination-popup {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  cursor: pointer;
}

.attack {
  height: 30%;
  padding-top: 20px;
}

#attack {
  background: white;
}

.saved-game-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#save-game {
  width: 40%;
  height: 25%;
  position: fixed;
  left: 30%;
  top: 30%;
  padding-top: 3%;
}

#confirm-save-game {
  font-size: 20px;
  width: 40%;
  height: 25%;
  position: fixed;
  left: 30%;
  top: 30%;
  padding-top: 3%;
}

#trade-cards {
  width: 50%;
  height: 35%;
  position: fixed;
  left: 25%;
  top: 30%;
}

#winGame {
  position: fixed;
  left: 35%;
  top: 30%;
  height: 25%;
  width: 30%;
}

.inline-confirm-save-game {
  margin-left: 17%;
  margin-top: 50px;
  width: 66%;
  display: flex;
  justify-content: space-around;
}
