html,
body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: radial-gradient(
    ellipse at center,
    #f3d886 0%,
    #7a5a1a 99%,
    #7a5a1a 100%
  );
}

main {
  width: 100%;
  height: 100%;

  margin-top: 2%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}
td {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background: #422d14;
  border-radius: 7px;
  color: black;
  margin-top: 4%;
}

.heading {
  width: 32%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 30px;
}

.container {
  width: 400px;
  height: 400px;
  margin-top: 2%;

  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 25px;
  border-radius: 8px;
  background: #e4c361;
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.3);
}

.players {
  display: flex;
  justify-content: center;
}

.game-id {
  margin: 5%;
  color: #422d0b;
}

/* Background */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 130px;
}
.loader path {
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}
.loaderreverse {
  animation-direction: reverse !important;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
